*{
    margin: 0;
    padding: 0;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
}

.c1{
    width: 250px;
    height: 250px;
    background: rgba(235, 0, 255, 0.11);
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: light 1s 1s infinite;

}
@keyframes light{
    from{
        color: grey;
    } 
    to{
        color: white;
        box-shadow: 
        0 0 5px #8B008B,
        0 0 25px #8B008B,
        0 0 50px #8B008B,
        0 0 100px #8B008B;
    }   
}
.c2{
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8FF;
    border-radius: 50%;
}
.hour-hand,.minute-hand, .second-hand{
    position: absolute;
    bottom: 50.3%;
    left: 49.2%;
    transform-origin: 50% 100%;
    transform: translate(-50%);
    transition-timing-function: steps(1);
    z-index: 4;
}
.hour-hand{
    width:5px;
    height: 40px;
    background-color: #08001f;
    border-radius: 5px 5px 0 0 ;
}
.minute-hand{
    width:3.5px;
    height: 60px;
    background-color: #30197d;
    border-radius: 2.5px 2.5px 0 0 ;
}
.second-hand{
    width:2px;
    height: 80px;
    background-color: #BA55D3;
    border-radius: 2px 2px 0 0 ;
 
}

